@media (max-width: 1366px){
    .col-m-4{
        width: 33%;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px){
    .col-s-6{
        width: 50%;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px){
    .col-xs-12{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .col-xs-12{
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 1366px){
    .popular_categories-col-s{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1366px){
    .logo_sm_s{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1366px){
    .contact_inf_col_s{
        width: 100%;
        text-align: center;
        display: block;
    }
}

@media only screen and (max-width : 760px) {
    .col-2-xs-12{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width : 930px) {
    .col_2 i{
        font-size: 2.75rem;

    }
}
@media only screen and (max-width : 760px) {
    .col_2 i{
        font-size: 6.75rem;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .menu_item{
        display: block;
        padding-bottom: 10px;
        border: 1px dotted #F13C6E;
    }
}

@media only screen and (max-width: 768px) {
    .header_nav_item{
        display: block;
        padding-bottom: 10px;

    }
}

@media only screen and (max-width: 660px) {
    .logo {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .button {
        display: block;
        margin: 0 auto;
        float: none;
    }

    body .contact_phone{
        display: block;
        margin: 0 auto;
        float: none;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 660px) {
    body .contact_information_orientation{
        float: none;
    }
}


@media only screen and (max-width: 660px) {
    .logo {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .button {
        display: block;
        margin: 0 auto;
        float: none;
    }

    body .contact_phone{
        display: block;
        margin: 0 auto;
        float: none;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 660px) {
    body .contact_information_orientation{
        float: none;
    }
}